@page "/R_Procedimientos"
@page "/R_Procedimientos/{ProcedimientoId:int}"

@inject IToastService toastService

<EditForm Model="procedimiento" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />
    <ValidationSummary />


    <div class="container-sm row-cols-md-1">

        <div class="card shadow-lg">

            <div class="card-header">
                <h3 class="card-title">Registro de Procedimientos</h3>
            </div>

            <div class="card-body">

                @* Buscar *@
                <div class="form-group align-items-Center">
                    <div class="form-row">
                        <label>Buscar</label>

                        <div class="input-group mb-3">

                            <span class="input-group-text" id="basic-addon2">Procedimiento Id: </span>
                            <InputNumber @bind-Value="procedimiento.ProcedimientoId" class="form-control" />

                            <div class="input-group-append col">
                                <button type="button" class="btn btn-success" @onclick="Buscar">
                                    <span class="oi oi-magnifying-glass">Buscar</span>
                                </button>
                            </div>
                        </div>

                        <ValidationMessage For="@(() => procedimiento.ProcedimientoId)" />
                    </div>
                </div>

                <hr>

                @* Nombre *@                 
                <div class="row">
                   
                    <div class="form-group col">
                        <label>Nombre </label>
                        <InputText class="form-control" @bind-Value="procedimiento.Nombre"
                            placeholder="ej; Limpieza" />
                        <ValidationMessage For="@(() => procedimiento.Nombre)" />
                    </div>

                </div>

                @* Descripcion *@
                <div class="row">
                    
                    <div class="form-group col">
                        <label>Descripcion </label>
                        <InputTextArea class="form-control" @bind-Value="procedimiento.Descripcion"
                            placeholder="Escriba aqui si descricion... " />
                        <ValidationMessage For="@(() => procedimiento.Descripcion)" />
                    </div>

                </div>

                @* Precio *@
                <div class="row">
                    
                    <div class="form-group col">
                        <label>Precio </label>
                        <InputNumber class="form-control" @bind-Value="procedimiento.Precio" />
                        <ValidationMessage For="@(() => procedimiento.Precio)" />
                    </div>

                </div>
                <br>

            </div>

        </div>

    </div>

    @* Botones *@
    <div class="card-footer">
        <div class="form-group text-center" display: inline-block>

            <button type="button" class="btn btn-lg btn-primary" @onclick="Nuevo">
                <span class="oi oi-plus"> Nuevo</span>
            </button>

            <button type="submit" class="btn btn-lg btn-success">
                <span class="oi oi-folder"> Guardar</span>
            </button>

            <button type="button" class="btn btn-lg btn-danger" @onclick="Eliminar">
                <span class="oi oi-trash"> Eliminar</span>
            </button>
        </div>
    </div>

</EditForm>

@code {

    [Parameter]
    public int ProcedimientoId { get; set; }

    public Procedimiento procedimiento { get; set; } = new Procedimiento();

    [Inject]
    public ProcedimientoBLL procedimientoBLL { get; set; }

    protected override void OnInitialized()
    {
        procedimiento.ProcedimientoId = ProcedimientoId;
        Buscar();
    }

    public void Buscar()
    {
        if (this.procedimiento.ProcedimientoId > 0)
        {
            Procedimiento encontrado = procedimientoBLL.Buscar(this.procedimiento.ProcedimientoId);

            if (encontrado != null)
            {
                this.procedimiento = encontrado;
            }
            else
            {
                Nuevo();
                toastService.ShowError("No se encontr贸 el procedimiento");
            }
        }
    }
    public void Nuevo()
    {
        procedimiento = new Procedimiento();
    }

    public void Guardar()
    {
        try
        {
            if (procedimientoBLL.Guardar(procedimiento))
            {
                Nuevo();
                toastService.ShowInfo("Se guard贸 exitosamente");
            }
            else
                toastService.ShowError("No se pudo guardar.");   
            }
        catch (Exception)
        {
            toastService.ShowError("The instance of entity type 'Procedimiento' cannot be tracked because another instance with the same key value for {'ProcedimientoId'} is already being tracked.");   
        }
    }

    public void Eliminar()
    {
        if (procedimientoBLL.Eliminar(procedimiento.ProcedimientoId))
        {
            Nuevo();
            toastService.ShowSuccess("Eliminaci贸n exitosa");
        }
        else
        {
            toastService.ShowError("Eliminaci贸n fallida");
        }
    }

}